html, body {
  font-family: Verdana,sans-serif;
  margin: 0 !important;
  padding: 0 !important;
  user-select: none;
}

body {
  background-color: #B2DEF9;
}

.navbar {
  overflow: hidden;
  background-color: #57b1e8;
  height: 100px;
}

.navbar h1 {
  float: left;
  font-family: 'Chewy', cursive;
  color: white;
  font-size: 2.75em;
  letter-spacing: 5px;
  margin: 20px 0px 0px 0px;
}

.navbar img {
  height: 100px;
  width: 100px;
  float: left;
  padding: 0px 20px;
  transform: scaleX(-1);
}


.dropdown {
  float: right;
  overflow: hidden;
  margin-top: 15px;
  margin-right: 20px;
}

.dropdown .dropdownbtn {
  font-size: 40px;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: #017aae;
  padding: 10px 14px;
  outline: none;
}

.navbar a:hover {
  background-color: #017aae;
}

.dropdown:hover .dropdownbtn {
  background-color: #57b1e8;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 20px;
  top: 75px;
}

.dropdown-content a {
  font-size: 1.25em;
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  margin-top: 0px;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#chooseDuck h2 {
  text-align: center;
  width: 60%;
  margin: 15px auto;
}

#chooseDuck h3 {
  text-align: center;
  width: 60%;
  margin: auto;
  font-weight: 100;
}

#duckCards {
  width: 60%;
  margin: auto;
  display: flex;
}

#duckCards img {
  background-color: white;
}

#duckCards .card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  margin: 10px;
  background-color: #f7f7f7;
}

#duckCards .card:hover {
  box-shadow: 0 8px 16px 7px rgba(0,0,0,0.2);
}

#duckCards .container {
  padding: 2px 16px;
}

#flexGrid {
  display: grid;
  grid-template-columns: 1fr 350px 1fr;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  grid-template-areas: 
    "buttons mainDuck upgrades"
    "buttons eggInfo upgrades";
  margin-top: 20px;
}

#mainDuck {
  grid-area: mainDuck;
  margin: auto;
  position: relative;
}

#mainDuck img {
  background-color: white;
  max-width: 250px;
  border-radius: 10px;
}

#mainDuck img:hover {
  box-shadow: 0 8px 16px 0px rgba(0,0,0,0.2);
}

#mainDuck img:active {
  box-shadow: 0 8px 16px 7px rgba(0,0,0,0.2);
}

#nameDuck {
  grid-area: eggInfo;
}

#dName2 {
  position: absolute;
  bottom: -5px;
  left: 12px;
  pointer-events: none;
}

#eggInfo {
  grid-area: eggInfo;
  text-align: center;
}

#eggInfo button {
  width: 230px;
  margin: auto;
  display: block;
  background-color: white;
  border: 4px solid;
  text-align: center;
  padding: 10px 5px;
  text-decoration: none;
  font-size: 1.3em;
  font-weight: 900;
  border-radius: 5px;
}

#eggInfo button:hover {
  box-shadow: 0 4px 8px 0px rgba(0,0,0,0.2);
}

#upgrades {
  grid-area: upgrades;
  border: solid yellow;
  border-width: 15px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

#upgrades h1 {
  margin: 5px;
  color: #25a8f9;
}

#upgrades h2 {
  margin: 5px;
  color: #57b1e8;
  border-bottom: solid;
}

#upgrades .row {
  display: flex;
}

#upgrades .leftCol {
  display: block;
  width: 30%;
  margin-top: 10px;
}

#upgrades .rightCol {
  display: block;
  width: 70%;
  font-size: 0.75em;
  text-align: left;
  white-space: normal;
  padding: 0px 10px;
}

#upgrades .leftCol button {
  align-items: center;
  margin: auto;
  background: #FFD256;
  padding: 5px;
  width: fit-content;
  border-radius: 5px;
  font-size: 1em;
}

#upgrades .leftCol button i {
  font-size: 1em;
  color: #846205;
}

#buttons {
  grid-area: buttons;
  border: solid #57b1e8;
  border-width: 15px;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}


#buttons h1 {
  margin: 5px;
  color: #25a8f9;
}

#buttons h2 {
  margin: 5px;
  color: #57b1e8;
  border-bottom: solid;
}

#buttons h3 {
  margin: 5px;
  color: #57b1e8;
  border-bottom: solid;
}

#buttons button {
  align-items: center;
  background: rgb(175, 76, 76);
  padding: 10px;
  width: 80%;
  border-radius: 5px;
  font-size: 1em;
  margin: 10px 0px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px 0px;
}

#buttons p {
  text-align: center;
  white-space: normal;
  padding: 0px 10px;
  margin: 0px;
}




#cash {
  display: flex;
    align-items: center;
    margin: auto;
    background: #05D36B;
    padding: 5px;
    width: fit-content;
    border-radius: 15px;
}

#cash i {
  color: #006733;
  padding: 10px 30px 10px 10px;
  font-size: 2em;
}

#cash p {
  font-size: 1.5em;
  margin: 10px 30px 10px 10px;
  color: #006733;
}

.tooltip {
  position: relative;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  width: 70%;
  background-color: #deeaee;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 190%;
  left: 50%;
  margin-left: -35%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#statsContainer {
  border: solid #57b1e8;
  border-width: 15px;
  border-radius: 20px;
  padding: 10px;
  width: 40%;
  display: block;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

#optionsContainer {
  border: solid #57b1e8;
  border-width: 15px;
  border-radius: 20px;
  padding: 10px;
  width: 40%;
  display: block;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

#helpContainer {
  border-radius: 20px;
  padding: 20px;
  width: 70%;
  display: block;
  margin: auto;
  margin-top: 40px;
  text-align: left;
  background: #57b1e8;
  color: white;
  font-size: 1.4em;
}

#optionsContainer button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 60%;
  border-radius: 5px;
  font-size: 1em;
}

.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

#eggTitle {
  float: right;
}

#eggTitle p {
  margin-top: 27px;
  font-size: 2em;
  color: white;
  display: inline-block;
  margin-right: 20px;
}

#eggTitle i {
  font-size: 50px;
  color: white;
  float: left;
  margin: auto;
  margin-right: 10px;
  margin-top: 20px;
}

.eggDrop {
  position: absolute;
  font-size: 2em;
  pointer-events: none;
}

.duckegganimationLeft {
	animation: duckegganimationLeftA 0.7s linear forwards;
}

.duckegganimationRight {
	animation: duckegganimationRightA 0.7s linear forwards;
}

@keyframes duckegganimationLeftA {

	0% {transform:translate(0px,0px); -moz-opacity: 0;	opacity:.0;	filter: alpha(opacity=0);}
	10% {transform:translate(-5px,-20px); -moz-opacity: 0.2;	opacity:.2;	filter: alpha(opacity=20);}
	20% {transform:translate(-10px,-30px); -moz-opacity: 0.4;	opacity:.4;	filter: alpha(opacity=40);}
	30% {transform:translate(-15px,-35px); -moz-opacity: 0.6;	opacity:.6;	filter: alpha(opacity=60);}
	35% {transform:translate(-18px,-37px); -moz-opacity: 0.8;	opacity:.8;	filter: alpha(opacity=80);}
	40% {transform:translate(-21px,-39px); -moz-opacity: 0.95;	opacity:.95;	filter: alpha(opacity=95);}
	45% {transform:translate(-23px,-40px); -moz-opacity: 1;	opacity:1;	filter: alpha(opacity=100);}
	50% {transform:translate(-25px,-40px); -moz-opacity: 1;	opacity:1;	filter: alpha(opacity=100);}
	55%{transform:translate(-27px,-40px); -moz-opacity: 1;	opacity:1;	filter: alpha(opacity=100);}
	60% {transform:translate(-29px,-38px); -moz-opacity: 0.95;	opacity:.95;	filter: alpha(opacity=95);}
	65% {transform:translate(-32px,-34px); -moz-opacity: 0.8;	opacity:.8;	filter: alpha(opacity=80);}
	70% {transform:translate(-35px,-30px); -moz-opacity: 0.6;	opacity:.6;	filter: alpha(opacity=60);}
	80% {transform:translate(-40px,-20px); -moz-opacity: 0.4;	opacity:.4;	filter: alpha(opacity=40);}
	90% {transform:translate(-45px,0px); -moz-opacity: 0.2;	opacity:.2;	filter: alpha(opacity=20);}
	100% {transform:translate(-50px,40px); -moz-opacity: 0;	opacity:.0;	filter: alpha(opacity=0);}
}

@keyframes duckegganimationRightA {

	0% {transform:translate(0px,0px); -moz-opacity: 0;	opacity:.0;	filter: alpha(opacity=0);}
	10% {transform:translate(5px,-20px); -moz-opacity: 0.2;	opacity:.2;	filter: alpha(opacity=20);}
	20% {transform:translate(10px,-30px); -moz-opacity: 0.4;	opacity:.4;	filter: alpha(opacity=40);}
	30% {transform:translate(15px,-35px); -moz-opacity: 0.6;	opacity:.6;	filter: alpha(opacity=60);}
	35% {transform:translate(18px,-37px); -moz-opacity: 0.8;	opacity:.8;	filter: alpha(opacity=80);}
	40% {transform:translate(21px,-39px); -moz-opacity: 0.95;	opacity:.95;	filter: alpha(opacity=95);}
	45% {transform:translate(23px,-40px); -moz-opacity: 1;	opacity:1;	filter: alpha(opacity=100);}
	50% {transform:translate(25px,-40px); -moz-opacity: 1;	opacity:1;	filter: alpha(opacity=100);}
	55%{transform:translate(27px,-40px); -moz-opacity: 1;	opacity:1;	filter: alpha(opacity=100);}
	60% {transform:translate(29px,-38px); -moz-opacity: 0.95;	opacity:.95;	filter: alpha(opacity=95);}
	65% {transform:translate(32px,-34px); -moz-opacity: 0.8;	opacity:.8;	filter: alpha(opacity=80);}
	70% {transform:translate(35px,-30px); -moz-opacity: 0.6;	opacity:.6;	filter: alpha(opacity=60);}
	80% {transform:translate(40px,-20px); -moz-opacity: 0.4;	opacity:.4;	filter: alpha(opacity=40);}
	90% {transform:translate(45px,0px); -moz-opacity: 0.2;	opacity:.2;	filter: alpha(opacity=20);}
	100% {transform:translate(50px,40px); -moz-opacity: 0;	opacity:.0;	filter: alpha(opacity=0);}
}